.wrapper
  .content
    header.main-header
      section.layers
        header.layer__header
          h1.layers__caption Welcome to Parallax
          h2.layers__title Fairy Forest
        figure.layer.layers__base(style='background-image: url("pic/layer-base.png");', aria-label='Base layer background image')
        figure.layer.layers__middle(style='background-image: url("pic/layer-middle.png");', aria-label='Middle layer background image')
        figure.layer.layers__front(style='background-image: url("pic/layer-front.png");', aria-label='Front layer background image')

    main
      article.main-article(style='background-image: url("pic/dungeon.jpg");', aria-label='Dungeon background')
        .main-article__content
          h2.main-article__header To be continued
          p.main-article__paragraph
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis error provident dignissimos facere. Repellendus tempore autem qui! Quia magnam tempora esse id necessitatibus corrupti mollitia expedita sapiente cum rerum, ut dicta laboriosam!
